<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-workshop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A85D64761D0BE81700327D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A85D648F1D0BE81700327D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A85D649A1D0BE81700327D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
